## 载入数据

我们仅仅使用 1997 年以后的数据集：

In [1]:
import pandas as pd
import numpy as np

In [2]:
gtd_df = pd.read_hdf('./data/gtd_1998-2017.h5')  # 载入数据集

In [3]:
import json

with open('./data/gtd_1998-2017_names.json') as fp:
    names = json.load(fp)                           # 载入变量名

In [23]:
class Bunch(dict):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.__dict__ = self

In [24]:
names = Bunch(names)

下面我们看看 GTD 的数据:

In [4]:
gtd_df.head()

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,...,ishostkid,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
67507,199801010001,1998,1,1,0,34,Burundi,11,Sub-Saharan Africa,Bujumbura Mairie,...,0.0,Unknown,"Burundi Rebels, Ex-Rwandan Army Soldiers Blam...",Burundi--Attack Reported on Bujumbura Airport...,Unknown,CETIS,0.0,1.0,0.0,1.0
67508,199801010002,1998,1,1,0,167,Russia,9,Eastern Europe,Moscow (Federal City),...,0.0,Unknown,"Bomb injures 3 in Moscow subway system, The ...","Bomb injures 3 in Moscow subway, Charleston ...","Bomb Injures 3 Workers in Moscow Metro, Los ...",CETIS,-1.0,-1.0,0.0,-1.0
67509,199801010003,1998,1,1,0,603,United Kingdom,8,Western Europe,Northern Ireland,...,0.0,Unknown,Protestant gunmen kill Catholic in New Year's...,Ulster Peace Shattered by Shooting: Catholic ...,Unknown,CETIS,0.0,0.0,1.0,1.0
67510,199801020001,1998,1,2,0,95,Iraq,10,Middle East & North Africa,Baghdad,...,0.0,Unknown,Iraq Condemns Attack on UNSCOM Baghdad Office...,"Farouk Choukri , Iraq, UN Officials Continue ...","Iraqi Interior Minister on UNSCOM Attack, Kuw...",CETIS,-1.0,-1.0,1.0,1.0
67511,199801020002,1998,1,2,0,155,West Bank and Gaza Strip,10,Middle East & North Africa,West Bank,...,0.0,Unknown,"Woman Shot, The Philadelphia Inquirer, Janua...",Israeli Woman Critically Hurt by Gunfire in W...,Unknown,CETIS,-1.0,-1.0,0.0,-1.0

In [6]:
print('数据的尺寸：', gtd_df.shape)

数据的尺寸： (114184, 65)

通过前面的数据预处理我们已经将文本变量的缺失值替换为 `Unknown`，分类变量的缺失值替换为 `-1`，但是对于数值型变量的缺失值未做填充处理。这个填充工作不能大而化之，需要针对具体问题具体分析。为了下面我们讨论的方便，我们先将所有含缺失值的样本均丢掉：

In [10]:
df = gtd_df.dropna()

np.unique(df.isnull().sum())  # 不含缺失值

array([0], dtype=int64)

In [11]:
df.shape

(99521, 65)

In [21]:
miss_df = gtd_df.loc[list(set(gtd_df.index) - set(df.index)),:]  # 含有缺失值的样本集

df.shape[0] + miss_df.shape[0] == gtd_df.shape[0]

True

下面主要研究 `df` 数据集：

对于一个机器学习问题，首先需要做的的工作是**识别或确定问题**。

## 第一步：确定问题

我们首先要明确要研究的问题是**分类**还是**回归**问题？一般数据由特征 $X$ 和标签 $y$ 来构成，$y$ 可以是一列也可以是多列，可以是二值型 (布尔值型数据类型，一般使用 `0` 和 `1` 进行编码) 也可以是实数型。一般地，它为二值型时该问题为分类问题，它为实数型是该问题为回归问题。

## 第二步：分离数据

一般为了防止模型出现过拟合现象，需要将数划分为**训练集**和**验证集**。即使用训练集训练模型，使用验证集调节超参数。

In [22]:
from sklearn.model_selection import StratifiedKFold  # 分类问题
#from sklearn.model_selection import KFold        # 回归问题

In [28]:
names.NV  # 查看数值变量

['nkillter',
 'imonth',
 'nperpcap',
 'nkillus',
 'nkill',
 'iday',
 'nwoundus',
 'nwoundte',
 'latitude',
 'iyear',
 'nwound',
 'longitude',
 'eventid']

这里我们仅仅选择以下几个数值变量:

In [31]:
nv = [
    'nkillter','nperpcap','nkillus','nkill','nwoundus','nwoundte', 'nwound',
]

X = df[nv]

In [32]:
对数值变量进行标准化处理:

['natlty1',
 'INT_IDEO',
 'targtype1',
 'INT_ANY',
 'guncertain1',
 'ishostkid',
 'country',
 'specificity',
 'suicide',
 'individual',
 'weapsubtype1',
 'property',
 'crit3',
 'targsubtype1',
 'claimed',
 'success',
 'crit2',
 'extended',
 'doubtterr',
 'propextent',
 'INT_MISC',
 'crit1',
 'multiple',
 'weaptype1',
 'INT_LOG',
 'vicinity',
 'attacktype1',
 'region']

In [27]:
X = df[list()]
X

,nkillter,imonth,nperpcap,nkillus,nkill,iday,nwoundus,nwoundte,latitude,iyear,nwound,longitude,eventid
67508,0.0,1,0.0,0.0,0.0,1,0.0,0.0,55.751377,1998,3.0,37.579914,199801010002
67509,0.0,1,0.0,0.0,1.0,1,0.0,0.0,54.607712,1998,0.0,-5.956210,199801010003
67511,0.0,1,0.0,0.0,0.0,2,0.0,0.0,31.995965,1998,1.0,35.271110,199801020002
67525,0.0,1,0.0,0.0,1.0,9,0.0,0.0,43.280364,1998,0.0,-2.171588,199801090001
67526,0.0,1,0.0,0.0,0.0,9,0.0,0.0,28.585836,1998,44.0,77.153336,199801090002
67531,0.0,1,0.0,0.0,1.0,11,0.0,0.0,54.607712,1998,0.0,-5.956210,199801110002
67532,0.0,1,0.0,0.0,25.0,11,0.0,0.0,31.505470,1998,0.0,74.342880,199801110003
67538,0.0,1,0.0,0.0,0.0,13,0.0,0.0,36.800000,1998,0.0,4.266667,199801130001
67539,0.0,1,0.0,0.0,2.0,13,0.0,0.0,36.350000,1998,0.0,6.600000,199801130002
67540,0.0,1,0.0,0.0,0.0,13,0.0,0.0,36.296387,1998,5.0,3.669930,199801130003
67541,0.0,1,0.0,0.0,0.0,14,0.0,0.0,56.783873,1998,0.0,60.561813,199801140001
67542,0.0,1,0.0,0.0,1.0,14,0.0,0.0,36.661633,1998,10.0,3.093408,199801140002
67545,0.0,1,0.0,0.0,0.0,17,0.0,0.0,42.696492,1998,0.0,23.326011,199801170002
67546,0.0,1,0.0,0.0,0.0,17,0.0,0.0,37.997490,1998,0.0,23.762728,199801170003
67547,0.0,1,0.0,0.0,0.0,17,0.0,0.0,36.759644,1998,0.0,2.900788,199801170004
67548,1.0,1,0.0,0.0,1.0,18,0.0,0.0,33.434070,1998,3.0,35.533752,199801180001
67551,0.0,1,0.0,0.0,0.0,19,0.0,0.0,6.057088,1998,1.0,101.695444,199801190002
67557,0.0,1,0.0,0.0,1.0,20,0.0,0.0,54.607712,1998,0.0,-5.956210,199801200005
67558,0.0,1,0.0,0.0,1.0,21,0.0,0.0,54.607712,1998,0.0,-5.956210,199801210001
67559,0.0,1,0.0,0.0,0.0,21,0.0,0.0,37.997490,1998,0.0,23.762728,199801210002
67560,0.0,1,0.0,0.0,0.0,21,0.0,0.0,37.997490,1998,0.0,23.762728,199801210003
67561,0.0,1,0.0,0.0,0.0,21,0.0,0.0,37.997490,1998,0.0,23.762728,199801210004
67563,0.0,1,0.0,0.0,0.0,21,0.0,0.0,36.763763,1998,0.0,3.055413,199801210006
67566,0.0,1,0.0,0.0,1.0,23,0.0,0.0,54.607712,1998,0.0,-5.956210,199801230002
67568,0.0,1,0.0,0.0,0.0,24,0.0,0.0,36.480499,1998,3.0,2.833905,199801240002
67570,0.0,1,0.0,0.0,0.0,25,0.0,0.0,31.549465,1998,15.0,74.847229,199801250001
67571,2.0,1,0.0,0.0,13.0,25,0.0,0.0,7.293840,1998,15.0,80.640669,199801250002
67575,0.0,1,0.0,0.0,0.0,25,0.0,0.0,54.345417,1998,0.0,-7.636355,199801250006
67577,0.0,1,0.0,0.0,20.0,25,0.0,0.0,35.066667,1998,4.0,1.050000,199801250008
67586,0.0,1,0.0,0.0,2.0,29,0.0,0.0,37.382640,1998,0.0,-5.996295,199801290001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181658,0.0,12,0.0,0.0,0.0,30,0.0,0.0,-1.595245,2017,0.0,40.514259,201712300016
181659,0.0,12,0.0,0.0,0.0,30,0.0,0.0,-1.595245,2017,0.0,40.514259,201712300017
181660,0.0,12,1.0,0.0,0.0,30,0.0,1.0,49.993500,2017,1.0,36.230383,201712300018
181661,0.0,12,0.0,0.0,1.0,28,0.0,0.0,17.001086,2017,0.0,81.807490,201712300019
181663,0.0,12,0.0,0.0,0.0,30,0.0,0.0,11.831902,2017,0.0,75.565432,201712300021
181664,0.0,12,0.0,0.0,0.0,30,0.0,0.0,54.607712,2017,2.0,-5.956210,201712300022
181665,0.0,12,0.0,0.0,0.0,30,0.0,0.0,18.802725,2017,0.0,81.497666,201712300023
181668,0.0,12,0.0,0.0,0.0,31,0.0,0.0,35.560376,2017,0.0,44.524705,201712310001
181669,0.0,12,0.0,0.0,0.0,30,0.0,0.0,35.452110,2017,5.0,44.375465,201712310002
181670,0.0,12,0.0,0.0,1.0,31,0.0,0.0,33.816111,2017,0.0,44.783524,201712310003
181671,0.0,12,0.0,0.0,4.0,31,0.0,0.0,34.031331,2017,9.0,44.070106,201712310004
181672,3.0,12,0.0,0.0,8.0,31,0.0,0.0,33.966527,2017,3.0,74.964225,201712310005
181673,0.0,12,0.0,0.0,18.0,31,0.0,0.0,34.417122,2017,14.0,70.449593,201712310006
181674,5.0,12,0.0,0.0,5.0,31,0.0,0.0,36.045059,2017,0.0,41.716717,201712310007
181675,0.0,12,0.0,0.0,2.0,31,0.0,0.0,2.059819,2017,3.0,45.326115,201712310008
181676,0.0,12,0.0,0.0,5.0,31,0.0,0.0,34.217806,2017,0.0,69.109316,201712310009
181677,0.0,12,0.0,0.0,0.0,31,0.0,0.0,6.983953,2017,0.0,124.420664,201712310010
181678,0.0,12,0.0,0.0,1.0,30,0.0,0.0,7.053143,2017,1.0,124.619270,201712310011
181679,13.0,12,0.0,0.0,13.0,31,0.0,0.0,33.953167,2017,0.0,44.921906,201712310012
181680,0.0,12,0.0,0.0,0.0,31,0.0,0.0,3.810951,2017,0.0,43.246506,201712310013
181681,0.0,12,0.0,0.0,1.0,31,0.0,0.0,6.862806,2017,5.0,124.443649,201712310016
181682,0.0,12,0.0,0.0,0.0,31,0.0,0.0,42.888982,2017,0.0,13.772795,201712310017
181683,0.0,12,0.0,0.0,6.0,31,0.0,0.0,35.315467,2017,0.0,64.815508,201712310018
181684,0.0,12,0.0,0.0,0.0,31,0.0,0.0,25.180162,2017,0.0,93.015788,201712310019
181685,0.0,12,0.0,0.0,0.0,31,0.0,0.0,35.921051,2017,4.0,64.774544,201712310020
181686,0.0,12,0.0,0.0,1.0,31,0.0,0.0,2.359673,2017,2.0,45.385034,201712310022
181687,0.0,12,0.0,0.0,2.0,31,0.0,0.0,35.407278,2017,7.0,35.942679,201712310029
181688,0.0,12,0.0,0.0,0.0,31,0.0,0.0,6.900742,2017,0.0,124.437908,201712310030
181689,0.0,12,0.0,0.0,0.0,31,0.0,0.0,24.798346,2017,0.0,93.940430,201712310031
181690,0.0,12,0.0,0.0,0.0,31,0.0,0.0,7.209594,2017,0.0,124.241966,201712310032

In [ ]:
eval_size = 0.1
kf = StratifiedKFold(y, round(1/eval_size))
train_indices, valid_indices = next(iter(kf))
X_train, y_train = X[train_indices], y[train_indices]
X_valid, y_valid = X[valid_indices], y[valid_indices]